.container{
  display: flex;
  /* border: 1px solid red; */
  height: 500px;
  width: 800px;
  margin-left:20%;
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.imgganna{
 margin-top: 17%;
 margin-left: 27%;
} 

h2{
  margin-top: 7%;
  margin-left: 27%;

}
.left>p1{
  color: rgb(163,163,167);
  font-size: 12px;
  text-decoration: solid;
  font-weight: 500;
  margin-left: 20%;
  text-align: center;
  align-items: center;
  
}
#field > input {
  margin-top: 28px;
  width: 77%;
  height: 30px;
  border: none;
  padding: 0 5 px;
  background: none;
  margin-left: 40px;
  outline: none;
  border-bottom: 1px solid  rgb(204,204,204);
}

#field> button {
  display: block;
  width: 80%;
  margin-top: 5%;
  margin-left: 8%;
border-radius: 20px;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgb(222,222,222);
  color:  rgb(168,168,180);
  cursor: pointer;
}
.or{
   background: #fff; 
   width: 150px;
  margin:-19px auto 10px ; 
  margin-top: 7%;
}
.btnbox{
    display: flex;
   margin-left: 5%;
   margin-top: 5%;
}
 
.btnbox1> button{
    
    display: block;
    width: 230%;
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 20px;
    height: 28px;
    outline: none;
    border: none;
    background-color: rgb(7, 8, 8);
    color: white;
    cursor: pointer;
}
.btnbox2>button{
  margin-left: 250%;
  display: block;
  width: 240%;
  margin-top: 3%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
  height: 28px;
  outline: none;
  border: none;
  background-color:  white;
  color: black;
  cursor: pointer;
}  
.right .head .cross  {
position: absolute;
z-index:111;
align-items: flex-start;
color: #fff;
font-weight: 700;
  
  margin-left: 28%;
 
}

.right .head .text  {
position: absolute;
z-index:111;
align-items: flex-start;
color: #fff;
font-weight: 700;
  margin-top: 5%;
  margin-left: 8%;
/* margin-bottom: -100PX; */
}
.right{
  width:450px;

  /* border: 1px solid red; */

}
.left{
  /* border: 1px solid blue; */
  width:490px;

   
}