.szcontainer{
    display: flex;
    /* border: 1px solid red; */
    height: 560px;
    width: 800px;
    margin-left:20%;
    margin-top: 3%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
 .szimgganna{
   margin-top: 2%;
   
 } 
  p{
 margin-right:70%;
  padding-top:10px;
 color: rgb(163,163,167);
font-weight: 300;
font-size: small;
 }
 .circle{
   margin-right: 50%;
   justify-content: space-between;
   margin-top: 10px;
 }

 .element {
margin-right:27%;
margin-top: 5%;

 }
 .element >label{
   font-size: 12px;
    
 }
  #szfield label>input:checked + .circle{
     background-color:red
   }
.para{
  color: red;
}
h2{
    margin-top: 7%;
}
p1{
    color: rgb(163,163,167);
    font-size: 12px;
    text-decoration: solid;
    font-weight: 500;
     
}
#szfield > input {
    /* margin-top: 28px; */
    width: 77%;
    height: 30px;
    border: none;
    padding: 0 5 px;
    background: none;
    margin-right: 20px;
    outline: none;
    border-bottom: 1px solid  rgb(204,204,204);
}

  #szfield> button {
    display: block;
    width: 80%;
    margin-top: 2%;
    margin-left: 8%;
  border-radius: 20px;
    height: 40px;
    outline: none;
    border: none;
    background-color: rgb(222,222,222);
    color:  rgb(168,168,180);
    cursor: pointer;
  }
  .szor{
    color:  rgb(124, 124, 128);
      margin-right:20%;
    font-size: 10px;
     display: inline;
    margin-top: 2%;
  }
  .box{
    /* margin-right:80%; */
    border: 1px solid rgb(116, 111, 111);
   background-color:rgb(249,249,249) ;
    height: 60px;
    width: 80%;
    margin-left: 10%;
  }
  .box>div{
    /* border: 1px solid red; */
   display: inline;
     margin-top: 15px;
    margin-right: 5%;
    /* margin-left:55%; */

  }
  /* .box>div>div>img{

    margin-left: 25%;
  } */
  .capture{
    margin-left: 15%;
  }
  .pri{
    color: rgb(124, 124, 128); 
    font-size: 9px;
    margin-left: 60%;
    cursor: pointer;
  }
   
.right .head .cross  {
  position: absolute;
  z-index:111;
  align-items: flex-start;
  color: #fff;
  font-weight: 700;
    
    margin-left: 30%;
   
}
.right .head .text  {
  position: absolute;
  z-index:111;
  align-items: flex-start;
  color: #fff;
  font-weight: 700;
    margin-top: 5%;
    margin-left: 8%;
  /* margin-bottom: -100PX; */
}
.right{
    width:400px;
 
    /* border: 1px solid red; */
 
}
.left{
    /* border: 1px solid blue; */
    width:400px;
}