.mainDiv{
    display: flex;
    /* border: 1px solid red ; */
    margin-top: 20px;
    position: static;
}
.mainImg{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 40px;
    margin-right: 40px;
}
.firstLine{
    display: flex;
}
.firstLine > p{
    font-size: 22px;
    font-weight: 530;
    margin-top: 115px;
}
.secLine{
    display: flex;
}
.secLine > p{
    font-size: 13px;
    font-weight: 530;
    line-height: 16px;
    color: #3aa2db;
}
.secLine > button{
    width: 100px;
    height: 25px;
    margin-top: 10px;
    border: 1px solid #d5caca;
    border-radius: 10px;
}
.singer{
    color: #897979;
    font-size:12px ;
}
.thirdLine > a> button{
    width: 150px;
    height: 35px;
    margin-top: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    background-color: #e72c30;
    color: white;
}
.thirdLine > a> button:hover{
  cursor: pointer;
}
