/* .new_Container{
   width: 80%;
  margin-left: 6%;
   margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   row-gap: 0px;

}

.newhead{
    margin-top: -5px;
    font-size: 13px;
    
}
.pageheading{
    margin-left: 6%;
    margin-bottom: -38px;
    color: red;
} */
